* {
  font-family: Open Sans, sans-serif;
  padding: 0;
  margin: 0;
}

body {
  border: 1px solid black;
}

header {
  height: 3.5em;
  background-color: #75e2e6;
  display: block;
}

#logo{
  float: left;
  width: 39px;
  padding: .69em;
  text-align: left;
}

li {
  display: inline-flex;
}

li a {
  list-style: none;
  text-align: right;
  display: inline;
  color: #000000;
  text-decoration: none;
  text-align: right;
  padding: 1em 1em 0 0;


}
li a:hover {
  text-decoration: underline;
}
a {
  display: inline;
}

.navigation {
 text-align: right;
 padding-top: 5px;
}

main {
  margin: auto;

}

.main {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),
  url('images/park.jpg') no-repeat center center;
  background-size: cover;
  height: 591px;
  margin: auto;
}

.main-center {
  margin: auto;
  padding-top: 101px;
}

.main-form {
  width: 30em;
  margin: auto;
  text-align: left;
}

h1 {
  font-weight: 200;
  color: #ffffff;
  width: 400px;
  text-align: center;
  margin: auto;
  padding-bottom: 20px;
}

h1 span {
  font-weight: 700
}

input {
  display: block;
  margin: auto;
  width: 99%;
  height: 2.5em;
  margin-bottom: 10px;
  padding: 0;
  font-size: 1.25em;
}

.roundImage {
  border-radius: 50%;
  border: .25em solid #048eaa;
  width: 10em;
  display: block;
  margin: auto;
  margin-bottom: -36px;
}

label {
  color: #ffffff;
  display: block;
  text-align: center;
  margin-bottom: 6px;
}

label.inputBox {
  text-align: left;
  font-size: 1.2em;
}

.threeArticles {
  padding: 1em;

}

.article {
  width: 25.7%;
  display: inline-block;
  margin: 1em auto;
  padding: 3%;
  vertical-align: top;

}

.article h2 {
  text-align: center;
  margin-bottom: 10px;
}

.article p {
  margin-top: 52px;
  margin-bottom: 2em;
  height: 9em;
  padding-left: .25em;
}

button {
  font-weight: 700;
  background-color: #75e2e6;
  width: 100%;
  height: 3em;
  display: block;
  margin: auto;
  font-size: 1.1em;

}
button:hover {
  background-color: #53aaad;
}
.dark-blue-button {
  width: 100%;
  color: #ffffff;
  background-color: #048eaa;
  margin: 10px 0 0 0;
  vertical-align: bottom;
}
.button-space {
  margin-top: 3em;
}
.dark-blue-button:hover {
  background-color: #034f5f;
}
.hidden {
  visibility: none;
}
.clearfix:after {
    content: ' ';
    display: table;
    clear: both;
}

footer {
  background-color: #048eaa;
  text-align: center;
  height: 15em;
}

footer img {
  padding: 1em 0 0 1em;
  margin: 0 auto;
}

footer p {
  color: #ffffff;
  padding: 1.5em 0 0 1em;
}
